.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ProductCardName{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.bottomScrollbar::-webkit-scrollbar{
  width: 0;
}



/* ```````````` */
.bannerDotliId{
  color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bannerDotId li{
  width: 17px;
}
#bannerDotId .slick-active .bannerDotliId{
  color: #fff;
}

/* cetagory on hover color */
.main-cetagory:hover div{
  color: #FBB03B;
}
.main-cetagory:hover p{
  color: #FBB03B;
} 
.main-cetagory:hover svg{
  display: flex;
}

.main-nastedN-cetagory:hover p{
  color: #FBB03B;
}

.transitionAnimation{
  transition: 0.2s;
}

/* Category Mobile view Color Active */
.activeColorCategory{
  background-color: white;
  color: #FBB03B;
}